body {
  background-color: #edebe2;
  font-family: 'Vremena';
  font-size: 100px;
  line-height: 116px;
  padding: 50px 190px 100px 70px;
}
.refresh {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 60px;
  height: 62px;
  background: url(new_optim.svg);
  background-size: contain;
}
svg {
  fill: #ff0000;
}
.site1 {
  background-color: #f14300;
  color: white;
}
.site2 {
  background-color: #00889a;
  color: white;
}
.site3 {
  background-color: #1e3fbe;
  color: white;
}
.site4 {
  background-color: #d01e1c;
  color: white;
}
.site5 {
  background-color: #ffffff;
  color: #2222cc;
}
.site6 {
  background-color: #2785fc;
  color: white;
}
.site7 {
  background-color: #ebe9da;
  color: black;
}
.site8 {
  background-color: #ffdc3a;
  color: white;
}
.site9 {
  background-color: #eaff00;
  color: black;
}
.site10 {
  background-color: #dfab4d;
  color: white;
}
.site11 {
  background-color: #c9471a;
  color: white;
}

#txt {
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
