body {
  background-color: #edebe2;
  font-family: 'Vremena', sans-serif;
  font-size: 100px;
  line-height: 116px;
  padding: 50px 190px 100px 70px;
}
.refresh {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 60px;
  height: 60px;
}

#refresh { transition: 0.2s; }
svg:hover #refresh { fill: #3f51b5; }

.site1 {
  background-color: #5a68b8;
  color: white;
}
.site2 {
  background-color: #00889a;
  color: white;
}
.site3 {
  background-color: #1e3fbe;
  color: white;
}
.site4 {
  background-color: #d01e1c;
  color: white;
}
.site5 {
  background-color: #ffffff;
  color: #2222cc;
}
.site6 {
  background-color: #2785fc;
  color: white;
}
.site7 {
  background-color: #ebe9da;
  color: #141414;
}
.site8 {
  background-color: #ffdc3a;
  color: white;
}
.site9 {
  background-color: #eaff00;
  color: black;
}
.site10 {
  background-color: #dfab4d;
  color: white;
}
.site11 {
  background-color: #c9471a;
  color: white;
}

#txt {
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
