@font-face {


  font-family: 'Vremena';
  src: url('/parts/css/VremenaGroteskMedium.eot');
  /* IE9 Compat Modes */
  
  src: url('/parts/css/VremenaGroteskMedium.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  
  url('/parts/css/VremenaGroteskMedium.woff') format('woff'),
  /* Modern Browsers */
  
  url('/parts/css/VremenaGroteskMedium.ttf') format('truetype'),
  /* Safari, Android, iOS */
  
  url('/parts/css/VremenaGroteskMedium.svg#2452e478824e772c4ac0bd5209d63f6c') format('svg');
  /* Legacy iOS */
  
  font-style: normal;
  font-weight: 400;
}